html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
  margin: 0 left;
  width: 100%;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Typography
  ========================================
*/

body {
  font-family: sans-serif;
}

/*
  ========================================
  Buttons
  ========================================
*/

.items button {
  color: #000;
  background-color: #f6b26b;
  border: 2px solid #000;
  width: 90px;
  box-shadow: 2px 2px 2px #444;
}

/*
  ========================================
  Head Nav
  ========================================
*/

.top {
  line-height: 40px;
}
.top-left {
  width: 88%;
  float: left;
  text-align: left;
  padding-left: 20px; 
}
.top-center {
  padding-top: 8px;
}
.top-right {
  float: right;
  text-align: left;
  padding-right: 20px;
}

/*
  ========================================
  Banner
  ========================================
*/

.banner {
  border-top: 2px solid #000;
  position: relative;
  overflow: hidden;
  line-height: 500px;
}
.banner h1 {
  float: left;
  width: 100%;
  font-weight: bold;
  color: #000;
  position: relative;
  text-align: center;
  z-index: 1;
  vertical-align: middle;
  font-size: 64px;
}
.banner img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.tag {
  line-height: 60px;
  background-color: #333;
  text-align: center;
  color: #fff;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  font-size: 24px;
  letter-spacing: .15em;
}

/*
  ========================================
  Items List
  ========================================
*/

.item-tagline {
  font-size: 20px;
  color: #333;
  font-weight: 300px;
  line-height: 30px;
  border-bottom: 1px solid #333;
  text-align: center;
}
.product {
  width: 310px;
  height: 275px;
  float: left;
  margin: 0 8px 28px 0;
  text-align: center;
}
.title {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  line-height: 42px;
  background-color: #333;
}
.image {
  text-align: center;
  position: relative;
  background-color: #999;
  padding: 3px 0;
}
.image img {
  max-height: 200px;
  max-width: 300px;
}
.price {
  padding: 2px;
  text-align: right;
  background-color: #fff;
  position: absolute;
    right: 10px;
    top: 7px;
  border: 1px solid #000;
}
.product:last-child {
margin: 0 0 28px 0;
}
.item-foot {
  padding: 4px;
  line-height: 35px;
  background-color: #333;
}
.btn {
  padding: 3px 10px;
  background-color: #f6b26b;
  border: 1px solid #333;
  box-shadow: 2px 2px;
}
.btn:focus {
  outline: none;
}
.left-gutter {
  background-color: #fff;
  margin: 20px;
  float: left;
}

/*
  ========================================
  Pagination
  ========================================
*/

.nav-pane {  
  float: left;
  width: 100%;
  padding: 10px;
  margin-top: -20px;
  background-color: #fff;
}
.center-nav {
  margin-bottom: 30px;
  float: right;
  text-align: left;
  width: 63%;
}
.pagination li {
  margin: 0 5px;
  float: left;
  color: #1161b5;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
}
.two li {
  float: left;
  color: #000;
  text-decoration: none;
}

/*
  ========================================
  Contact
  ========================================
*/

.contact {
  float: left;
  width: 100%;
  background-color: #333;
  line-height: 40px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.contact-head {
  font-size: 16px;
  color: #fe9800;
  text-align: center;
  width: 100%;
}
.phone {
  text-align: center;
  width: 100%;
  line-height: 40px;
  margin-top: 5px;
}
.phone img {
  width: 20px;
}
.email {
  text-align: center;
  margin: -10px 0 20px 0;
}
.email img {
  display: inline-block;
  width: 20px;
}
.contact-type {
  color: #fff;
  display: inline-block;
}












